/* CSS Document */
*{
    padding: 0;
    margin: 0;
}
.content{
    background-color: rgb(215, 250, 225);
    width: 100%;
    box-sizing: border-box;
	height: 50000px;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*Topcontent.css*/
.Topcontent{
    position: relative;
    height: 1080px;
}
.Topcontent .riddon{
    position: absolute;
    list-style: none;
    top: 0px;
    right: 0;
    width: 400px;
    height: 30px;
}
/*.TopContent ul li{
    float: left;
    width: 100px;
    height: 30px;
    background-color: transparent;
    text-align: center;
    line-height: 30px;
}
.TopContent ul li a{
    color: black;
}*/
.Topcontent .item{
    width: 100%;
    height: 1080px;
}
.Topcontent .item img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}
.Topcontent #headline{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0,.6);
    display: none;
}
.Topcontent #headline p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    color: #ffff;
}
.Topcontent #headline p:last-child{
    margin-top: 110px;
    font-size: 50px;
}
.Topcontent #list{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100px;
    height: 10px;
    list-style: none;
}
.Topcontent #list li{
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 10px;
    background-color:  rgba(255, 255, 255, 0.521);
}
.Topcontent .std{
    position: absolute;
    top:375px;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: seashell;
    border-radius: 50%;
    background-color: rgba(0, 0, 0,.6);
}
.pointer{
		position: absolute;
		width: 200px;
		height: 20px;
		left:960px;
		bottom: 20px;
	}
.pointer ol li{/*圆点*/
		display: inline-block;/*inline-block;*/
		width: 10px;
		height:10px;
		border-radius: 50%;
		border:1px solid black;
		background-color: #B5B1B1;
	}
	.pointer .on{
		background-color:#796EFF;}
.arrow{/*箭头*/
		width: 40px;
		height: 40px;
		background-color:#B5ADAD;
		position: absolute;
		top:540px;
		text-align: center;
		line-height: 40px;
		font-weight: bold;
		display: none;
	}
	.left{
		left:0;
	}
	.right{
		right:0;
	}
.content:hover .arrow{
		display: block;
	}
	.arrow:hover{
		background-color: #7E7979;
	}
/* .allContent{
    width: 1550px;
    background-color: burlywood;
    margin: 0 auto;
} */


/*Middlecontent.css*/
/*
h1 {
    color: white;
    text-align: center;
}
*/
span {
    display: block;
    text-align: center;
}
/*@keyframes fly {
    from {
        transform: translateZ(0px);
        opacity: .6;
    }
    to {
        transform: translateZ(200px);
        opacity: .8;
    }
}*/
.title {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 450px;
    margin: auto;
    bottom: 0;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
}

.titles {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    top: 520px;
    margin: auto;
    bottom: 0;
    color: #fff;
    font-size: 55px;
    font-weight: 500;
}
.ribbon li{
	list-style: none;
}
.ribbon {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 300px;
    top: 50px;
    margin: auto;
}

.ribbon:after,
.ribbon:before {
    margin-top: 0.5em;
    content: "";
    display: flex;
    ;
    border: 1.5em solid #fff;
}

.ribbon:after {
    border-right-color: transparent;
}

.ribbon:before {
    border-left-color: transparent;
}

.ribbon a:link,
.ribbon a:visited {
    color: #000;
    text-decoration: none;
    height: 3.5em;
    overflow: hidden;
}

.ribbon span {
    background: #fff;
    display: inline-block;
    line-height: 3em;
    padding: 0 1.5em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: background-color 0.2s, margin-top 0.2s;
    /* Saf3.2+, Chrome */
    -moz-transition: background-color 0.2s, margin-top 0.2s;
    /* FF4+ */
    -ms-transition: background-color 0.2s, margin-top 0.2s;
    /* IE10 */
    -o-transition: background-color 0.2s, margin-top 0.2s;
    /* Opera 10.5+ */
    transition: background-color 0.2s, margin-top 0.2s;
}

.ribbon a:hover span {
    background: #FFD204;
    margin-top: 0;
}

.ribbon span:before {
    content: "";
    position: absolute;
    top: 3em;
    left: 0;
    border-right: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.ribbon span:after {
    content: "";
    position: absolute;
    top: 3em;
    right: 0;
    border-left: 0.5em solid #9B8651;
    border-bottom: 0.5em solid #fff;
}

.introduce {
    display: flex;
    flex-direction: column;
}

.introduce_item {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.introduce_item_img {
    width: 500px;
    height: 600px;
    border-radius: 10px;

}

.introduce_item_title {
    color: rgb(5, 39, 20);
    width: 450px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-left: 100px;
}

.introduce_item_titles {
    width: 400px;
    font-size: 18px;
    line-height: 36px;
    align-self: center;
    padding-right: 100px;
}
.icons {
    display: flex;
    justify-content: space-between;
    padding: 10px 400px;
    box-sizing: border-box;
    overflow: hidden;
}

.icons_items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top: 80px;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    height: 220px;
    
}

.icons_items_imgs {
    border-radius: 10%;
    width: 200px;
    height: 120px;
    margin-bottom: 30px;
}


/*Information.css*/
#Information .Mbox1{
    
    position: absolute;
    top: 137px;
    left: 0;
    width: 1550px;
    background-color: antiquewhite;
    display: none;
}
#Information .Mbox1 #ul1{
    width: 100%;
    height: 100px;
    border-top: 1px solid #666;
}
#Information #ul1 .i1{
    float: left;
    width: 50%;
    height: 100px;
}
.Mbox1 #ul1 .Mbox-pic1{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.Mbox1 #ul1 .Mbox-pic1 img{
    margin-top: -49px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.Mbox1 .i1 .Mbox-font1{
    display: inline-block;
    height: 100px;
}
.Mbox1 .i1 .Mbox-font1 p:first-child{
    width: 200px;
    height: 26px;
    font-size: 10px;
}
.Mbox-font1 p span{
    font-size: 10px;
    color: #666;
}
.Mbox1 .i1 .Mbox-font1 p:last-child{
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgb(40, 211, 114);
    border-radius: 12%;
    color: snow;
}
.Mbox-font1 p:last-child a{
    color: snow;
}

#Information .Mbox2{
    
    position: absolute;
    top: 137px;
    left: 0;
    width: 1550px;
    background-color: coral;
    display: none;
}
#Information .Mbox2 #ul2{
    width: 100%;
    height: 100px;
    border-top: 1px solid #666;
}
#Information #ul2 .i2{
    float: left;
    width: 50%;
    height: 100px;   
}
.Mbox2 #ul2 .Mbox-pic2{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.Mbox2 #ul2 .Mbox-pic2 img{
    margin-top: -49px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.Mbox2 .i2 .Mbox-font2{
    display: inline-block;
    height: 100px;
}
.Mbox2 .i2 .Mbox-font2 p:first-child{
    width: 200px;
    height: 26px;
    font-size: 10px;
}
.Mbox-font2 p span{
    font-size: 10px;
    color: #666;
}
.Mbox2 .i2 .Mbox-font2 p:last-child{
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgb(40, 211, 114);
    border-radius: 12%;
    color: snow;
}
.Mbox-font2 p:last-child a{
    color: snow;
}

#Information .Mbox3{
    
    position: absolute;
    top: 137px;
    left: 0;
    width: 1550px;
    background-color: aquamarine;
    display: none;
}
#Information .Mbox3 #ul3{
    width: 100%;
    height: 100px;
    border-top: 1px solid #666;
}
#Information #ul3 .i3{
    float: left;
    width: 50%;
    height: 100px;
}
.Mbox3 #ul3 .Mbox-pic3{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.Mbox3 #ul3 .Mbox-pic3 img{
    margin-top: -49px;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.Mbox3 .i3 .Mbox-font3{
    display: inline-block;
    height: 100px;
}
.Mbox3 .i3 .Mbox-font3 p:first-child{
    width: 200px;
    height: 26px;
    font-size: 10px;
}
.Mbox-font3 p span{
    font-size: 10px;
    color: #666;
}
.Mbox3 .i3 .Mbox-font3 p:last-child{
    width: 80px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-color: rgb(40, 211, 114);
    border-radius: 12%;
    color: snow;
}
.Mbox-font3 p:last-child a{
    color: snow;
}
